{% extends 'base.html' %}

{% block content %}

<h1 class="text-center mt-5 mb-5 text-primary">Welcome to the Car Sparkle profile page</h1>
<div class="text-center">
    <a href="{% url 'edit_profile' %}">
        <button class="btn btn-outline-primary ">Edit Profiles</button>
    </a>
    <div class="col-12 mb-5">
        <h1 class="mb-4"> Total data : {{ data | length}}</h1>
        <div class="d-flex flex-wrap justify-content-center align-items-center gap-3">
            
        <div class="card" style="width: 18rem;">
            <img src="{{car.file.url}}" class="card-img-top img-fluid" style="width: 285px; height: 280px;" alt="...">
            <div class="card-body">
                <h5 class="card-title">Car name: {{car.car_name}}</h5>
                <p class="card-text">Car description: {{car.description | truncatewords:10}}</p>
                <h3>Price: {{car.price}}$</h3>
                <h4>Brand name: {{car.brand.Brand_Name}}</h4>
                
            </div>
        </div>
       
        </div>
    </div>
</div>

{% endblock %}